@model University.PresentationLayer.ViewModels.CourseViewModel

@{
    ViewData["Title"] = "Add Course";
}

<h1>Add Course</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddCourse">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CourseName" class="control-label"></label>
                <input asp-for="CourseName" class="form-control" />
                <span asp-validation-for="CourseName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CourseDetails" class="control-label"></label>
                <input asp-for="CourseDetails" class="form-control" />
                <span asp-validation-for="CourseDetails" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
